@model IEnumerable<COA.Mvc.Models.UserViewModel>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdUsuario })
            </td>
        </tr>
}
    </tbody>
</table>
